:root {
  --text-color: #ffffff;
  --font-family: "Rubik", serif;
  --green-color: #c4f85c;
  --container-color: #1c1c1e;
  --container-color-two: #b9bbbc;
  --background-color: #000000;
}

.menu {
  position: fixed;
  background: #1c1c1e; /* полупрозрачный черный */
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  padding: 5px 10px;
  z-index: 10;
  border-top: 1px solid #777777;
}

.menu-item {
  display: flex;
  flex-direction: column; 
  text-align: center;
  margin-bottom: 5px;
  padding: 10px 6px;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.menu-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.menu-item svg,
.menu-item img {
  display: block;
  width: 24px !important;
  height: 24px !important;
  margin-bottom: 2px;
}

.Name {
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  color: var(--container-color-two);
  transition: all 0.3s ease;
}

.menu-item.active .Name {
  color: #54d66d;
}

.menu-item.friends-item a {
  display: flex;
  justify-content: center;
  align-items: center;
}