.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1C1C1D;
  z-index: 9999;
}

.spinner {
  border: 12px solid #2C2C2E; 
  border-top: 12px solid #54d66d;
  border-radius: 50%;
  width: 120px; 
  height: 120px; 
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}